attrs==25.3.0
bandit==1.8.3
boltons==21.0.0
bracex==2.5.post1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
click-option-group==0.5.7
colorama==0.4.6
defusedxml==0.7.1
Deprecated==1.2.18
exceptiongroup==1.2.2
face==24.0.0
git-filter-repo==2.47.0
glom==22.1.0
googleapis-common-protos==1.70.0
idna==3.10
importlib_metadata==7.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
packaging==25.0
pbr==6.1.1
peewee==3.18.1
protobuf==4.25.8
Pygments==2.19.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rich==13.5.3
rpds-py==0.25.1
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
semgrep==1.122.0
setuptools==80.9.0
stevedore==5.4.1
tomli==2.0.2
typing_extensions==4.13.2
urllib3==2.4.0
wcmatch==8.5.2
wrapt==1.17.2
zipp==3.22.0
